@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto';
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

/* App.js Content */

.specialBrands {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

/* App.js Content End */

/* Default Css */

/* a Tag */

a {
  color: #1C2C4A;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 16px;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: #1C2C4A;
}

/* a Tag End */

/* Button */

.defButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2px;
  background-color: transparent;
  border: 1px solid #1C2C4A;
  border-radius: 15px;
  width: 180px;
  height: 50px;
  color: #1C2C4A;
  font-size: 14px;
  transition: 0.4s all ease;
  cursor: pointer;
}

.defButton a {
  padding-left: 5px;
}

/* button:hover {
  width: 210px;
} */

/* Button End */

/* title */

.title {
  width: 100%;
}

.title h1 {
  font-size: 2.5em;
  color: #1C2C4A;
}

p {
  font-size: 1.2em;
}

/* title */

/* Default Css */


/* Carousel Arrows */

.carousel {
  overflow: hidden;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: rgba(255, 255, 255, 0.418);
  width: 100px;
  border-radius: 50%;
  height: 15%;
  display: flex;
  top: 43%;
}

.carousel-control-prev {
  left: -50px;
}

.carousel-control-next {
  right: -50px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 30px !important;
  height: 30px;
}

.carousel-control-prev-icon {
  position: absolute;
  left: 55px !important;
}

.carousel-control-next-icon {
  position: absolute;
  right: 55px;
}

/* Carousel Arrows End */

/* Play Button */

.playBtn {
  width: 120px !important;
  cursor: pointer;
  border-radius: 50%;
  transition: transform 0.4s;
}

.playBtn:hover {
  transform: scale(1.1)
}

/* Play Button End */