@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto';
}

/* App.js Content */

.specialBrands {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

/* App.js Content End */

/* Default Css */

/* a Tag */

a {
  color: #1C2C4A;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 16px;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: #1C2C4A;
}

/* a Tag End */

/* Button */

.defButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2px;
  background-color: transparent;
  border: 1px solid #1C2C4A;
  border-radius: 15px;
  width: 180px;
  height: 50px;
  color: #1C2C4A;
  font-size: 14px;
  transition: 0.4s all ease;
  cursor: pointer;
}

.defButton a {
  padding-left: 5px;
}

button:hover {
  width: 210px;
}

/* Button End */

/* title */

.title {
  width: 100%;
}

.title h1 {
  font-size: 36px;
  color: #1C2C4A;
}

/* title */

/* Default Css */

/* Navbar */

.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 8vh;
  height: 80px;
  width: 100%;
}

.BrandLogo {
  position: absolute;
  display: flex;
  justify-content: center;
  top: -5px;
  left: 20%;
  background-color: #fff;
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.BrandLogo img {
  text-align: center;
  width: 90px;
  padding-top: 15px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
}

.nav-links a {
  color: #1C2C4A;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 16px;
}

.nav-links a:hover {
  color: #741634;
  padding-bottom: 25px;
  border-bottom: 1px solid #741634;
  transition: 0.4s all ease;
}

ul {
  margin-bottom: 0px;
}

li {
  list-style: none;
}

.right-nav {
  display: flex;
  margin-right: 50px;
  margin-left: -10%;
}

/* .right-nav a {
  color: #1C2C4A;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 16px;
} */

.right-nav a:hover {
  color: #741634;
  padding-bottom: 25px;
  border-bottom: 1px solid #741634;
  transition: 0.4s all ease;
}

/* Navbar End */

/* Carousel Arrows */

.carousel {
  overflow: hidden;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: rgba(255, 255, 255, 0.418);
  width: 100px;
  border-radius: 50%;
  height: 15%;
  display: flex;
  top: 43%;
}

.carousel-control-prev {
  left: -50px;
}

.carousel-control-next {
  right: -50px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 30px !important;
  height: 30px;
}

.carousel-control-prev-icon {
  position: absolute;
  left: 55px !important;
}

.carousel-control-next-icon {
  position: absolute;
  right: 55px;
}

/* Carousel Arrows End */

/* About */

.about {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.aboutBg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  background-image: url('./Assets/Imgs/About/abt.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
}

.txt-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  width: fit-content;
}

.about h1 {
  max-width: fit-content;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 4px solid #741634;
}

/* About End */

/* Play Button */

.playBtn {
  width: 120px !important;
  cursor: pointer;
  border-radius: 50%;
  transition: transform 0.4s;
}

.playBtn:hover {
  transform: scale(1.1)
}

/* Play Button End */

/* Our Juice */

.our-juice {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.title h1 {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 4px solid orange;
  padding-left: 7px;
  padding-right: 7px;
}

.juice-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.carouselFlex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: none;
  padding-bottom: 40px;
  margin-top: 50px;
}

.juice-content .carousel-control-prev {
  margin-left: 15px;
  left: 0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.juice-content .carousel-control-next {
  margin-right: 15px;
  right: 0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.juice-content .carousel-control-next:hover {
  background-color: #1C2C4A;
}

.juice-content .carousel-control-prev:hover {
  background-color: #1C2C4A;
}

.juice-content .carousel-control-prev .carousel-control-prev-icon {
  width: 20px !important;
  height: 20px !important;
  position: static;
}

.juice-content .carousel-control-next .carousel-control-next-icon {
  width: 20px !important;
  height: 20px !important;
  position: static;
}

.juice-content .carousel .carousel-indicators {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #CECECE;
  width: 400px;
  height: 5px;
  border-radius: 30px;
}

.juice-content .carousel .carousel-indicators li {
  width: 70px;
  height: 5px;
}

.juice-content .carousel .carousel-indicators .active {
  background-color: #1C2C4A;
}

.juice-content .card {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  border: none;
  transition: 0.4s;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin: 5px;
}

.juice-content .card:hover {
  -webkit-box-shadow: 0px 9px 26px 1px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px 9px 26px 1px rgba(0, 0, 0, 0.39);
  box-shadow: 0px 9px 26px 1px rgba(0, 0, 0, 0.39);
  transform: scale(1.05);
}

.juice-content .card-img-top {
  height: 350px;
}

.background-blue {
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 35%, #d8ebfc 35%);
}

/* Our Juice */

.purple {
  background-color: #741634;
}

/* Second Carousel */

/* Second Carousel End*/

/* Staff */

.staff {
  background-color: #FFE2E2;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.staff .title {
  margin-top: 50px;
}

.staff .carousel {
  margin-top: 50px;
  margin-bottom: 50px;
}

.staff>img {
  position: absolute;
}

.staff .card-img-top {
  width: 400px;
  height: 350px;
}

/* .staff .carousel-inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} */

.staff .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: none;
  border: none;
  margin-left: 100px;
  margin-right: 100px;
}

.staff .card-text-h1 {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.staff .carousel-indicators {
  display: none;
}

.staff .carousel-control-prev {
  margin-left: 50px;
  left: 0;
  background-color: #C42852;
  width: 70px;
  height: 70px;
}

.staff .carousel-control-prev-icon {
  position: static;
}

.staff .carousel-control-next {
  margin-right: 50px;
  right: 0;
  background-color: #C42852;
  width: 70px;
  height: 70px;
}

.staff .carousel-control-next-icon {
  position: static;
}

.staff .carousel-control-next:hover {
  background-color: #C42852;
}

.staff .carousel-control-prev:hover {
  background-color: #C42852;
}

/* Staff End */

/* Contact */

.contact {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 700px;
}

.contact-branding {
  background-image: url(Assets/Imgs/Contact/bg.png);
}

.contact-info {
  width: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  filter: blur(70%);
}

/* Contact End */