@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto';
}

/* App.js Content */

.specialBrands {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

/* App.js Content End */


/* Navbar */

.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 8vh;
  height: 80px;
  width: 100%;
}

.BrandLogo {
  position: absolute;
  display: flex;
  justify-content: center;
  top: -5px;
  left: 20%;
  background-color: #fff;
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.BrandLogo img {
  text-align: center;
  width: 90px;
  padding-top: 15px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
}

.nav-links a {
  color: #1C2C4A;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 16px;
}

.nav-links a:hover {
  color: #741634;
  padding-bottom: 25px;
  border-bottom: 1px solid #741634;
  transition: 0.4s all ease-in;
}

ul {
  margin-bottom: 0px;
}

li {
  list-style: none;
}

.right-nav {
  display: flex;
  margin-right: 50px;
  margin-left: -10%;
}

.right-nav a {
  color: #1C2C4A;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 16px;
}

.right-nav a:hover {
  padding-bottom: 25px;
  border-bottom: 1px solid #741634;
  transition: 0.4s all ease;
}

/* Navbar End */

/* Carousel Arrows */

.carousel {
  overflow: hidden;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: rgba(255, 255, 255, 0.418);
  width: 100px;
  border-radius: 50%;
  height: 15%;
  display: flex;
  top: 43%;
}

.carousel-control-prev {
  left: -50px;
}

.carousel-control-next {
  right: -50px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 30px !important;
  height: 30px;
}

.carousel-control-prev-icon {
  position: absolute;
  left: 55px !important;
}

.carousel-control-next-icon {
  position: absolute;
  right: 55px;
}

/* Carousel Arrows End */